// /* 覆盖你需要的变量 */
@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $bg-color: (
    "page": #1d1d1d,
    "overlay": #1d1e1f
  ),
  $border-color: (
    "primary": #fff
  ),
  $colors: (
    "white": #ffffffe1,
    "black": #131313,
    "main": #5b32f3,
    "primary": (
      "base": #5b32f3,
      "tip": #dc284d,
      "tip2": #ffbc0d,
      "tip3": #00e9ce
    ),
    "success": (
      "base": #01d078
    ),
    "warning": (
      "base": #ffbc0d
    ),
    "danger": (
      "base": #f34848
    ),
    "error": (
      "base": #e7234a
    ),
    "info": (
      "base": #01d078
    )
  )
);
