// /* 覆盖你需要的变量 */
@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $bg-color: (
    "page": #282828,
    "overlay": #1d1e1f,
  ),
  $border-color:(
    "primary":#fff
  ),
  $colors: (
    "white": #ffffffe1,
    "black": #131313,
    "main": #663bff,
    "primary": (
      "base": #663bff,
      "tip": #dc284d,
      "tip2": #ffbc0d,
      "tip3": #00fff6,
    ),
    "success": (
      "base": #66e228,
    ),
    "warning": (
      "base": #ffbc0d,
    ),
    "danger": (
      "base": #f06767,
    ),
    "error": (
      "base": #dc284d,
    ),
    "info": (
      "base": #18d385,
    ),
  )
);
