@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $border-radius: (
    "base": 6px,
    "small": 12px,
    "round": 20px,
    "circle": 100%,
  ),
  $colors: (
    "white": #ffffff,
    "black": #111111,
    "main": #5e34f5,
    "primary": (
      "base": #5d33f6,
    ),
    "success": (
      "base": #67c23a,
    ),
    "warning": (
      "base": #e6a23c,
    ),
    "danger": (
      "base": #f56c6c,
    ),
    "error": (
      "base": #f56c6c,
    ),
    "info": (
      "base": #0bdb85,
    ),
  ),
  $bg-color: (),
  $text-color: (
    "primary": #303133,
    "regular": #606266,
    "secondary": #909399,
    "placeholder": #a8abb2,
    "disabled": #c0c4cc,
  ),

  // $drawer
  $drawer:(
    "padding-primary":0px,
  )
); 

