// 滑动
.slideInOut-enter-active {
  animation: fadeInLeft $transition-delay $animate-cubic;
}
.slideInOut-leave-active {
  animation: fadeInLeft $transition-delay $animate-cubic reverse;
}
// popover上下突出
.popSliceUpDown-enter-active,
.popSliceUpDown-leave-active {
  transition: $transition-delay $animate-cubic;
  transform-origin: center top;
  transform: scale(1);
}

.popSliceUpDown-enter-from,
.popSliceUpDown-leave-to {
  overflow: hidden;
  transform: scale(0.8);
  opacity: 0;
  transition: $transition-delay $animate-cubic;
}

// fade-in-out
.fadeInOut-enter-active {
  animation: 0.2s fadeIn $animate-cubic;
}
.fadeInOut-leave-active {
  animation: 0.2s fadeOut $animate-cubic;
}
.animate__animated {
  animation-duration: $transition-delay;
}

// 夜间模式切换动画
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 9999;
}



.fade-enter-active {
  animation: 0.4s fade-in-out;
}
.fade-leave-active {
  animation: 0.4s fade-in-out reverse;
}
@keyframes fade-in-out {
  0% {
    position: absolute;
    transition: $transition-delay;
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    position: absolute;
    transition: $transition-delay;
    filter: blur(0px);
    opacity: 1;
  }
} 


.animate__blurIn {
  animation: $transition-delay fade-in-out;
}

@keyframes blur-in {
  0% { 
    transition: $transition-delay;
    opacity: 0.8;
    filter: blur(2px);
  }
  100% { 
    transition: $transition-delay;
    filter: blur(0px);
    opacity: 1;
  }
} 



/* 颜色 */
:root {
  --text-mark-color1: #7c51fb;
  --text-mark-color2: #ffbc0d;
  --text-mark-color3: #dc284d;
}


/* 可视范围 */
.animate-ob ,
.animatejs {
  animation-play-state: paused;
  animation-duration: 1s;
}

.animateStart {
  animation-play-state: running;
}



/* 画字特效 */
.mark1,
.mark2,
.mark3 {
  background-color: transparent;
  color: inherit;
  background-image: linear-gradient(var(--text-mark-color), var(--text-mark-color));
  background-repeat: no-repeat;
  background-size: 0% 36%;
  background-position: 0% 100%;
}

.mark2 {
  background-image: linear-gradient(var(--text-mark-color2), var(--text-mark-color2));
}

.mark3 {
  background-image: linear-gradient(var(--text-mark-color3), var(--text-mark-color3));
}

.mark1.animate,
.mark2.animate,
.mark3.animate{
  animation: 1s sliceHightLight ease-in-out forwards;
}

/* 背景颜色滑动 */
@keyframes sliceHightLight {
  to {
      background-size: 100% 36%;
  }
}



/* 变换边框 */
@keyframes border-transform {

0%,
100% {
  border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
}
14% {
  border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
}
28% {
  border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
} 
42% {
  border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
}
56% {
  border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
}
70% {
  border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
}
84% {
  border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
}
}