* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}
:root {
  --animate-duration: $transition-delay;
}
a {
  text-decoration: none;
  color: var(--el-text-color);
}
a:active,
a:focus,
a:valid,
a:active {
  background-color: none;
}

li {
  list-style: none;
}

span {
  line-height: 100%;
}

// 页面
html,
body {
  min-height: 100vh;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 15px; /*当前屏幕尺寸除以划分的等份:320/15*/
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 16px; /*当前屏幕尺寸除以划分的等份:720/15*/
  }
}
html {
  // background-color: #fbfaff;
  background: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(149, 148, 255, 0.4), rgba(0, 0, 0, 0)) no-repeat;
}

html.dark {
  // background-color: #171717;
  background: radial-gradient(ellipse 80% 50% at 50% -15%, rgba(148, 150, 255, 0.16), #222222) no-repeat;
}

// 全局滚动条
::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
  background-color: rgba(255, 255, 255, 0);
}

/*定义滚动条轨道
  内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.8rem;
  background-color: #fdfdfd;
}
.dark ::-webkit-scrollbar-track {
  background-color: #252525;
}

/*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  -webkit-box-shadow: inset 0 0 6px rgba(134, 134, 134, 0.3);
  background-color: #252525;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85);
}

// 自定义类
.w-100per {
  width: 100%;
}

.h-100per {
  height: 100%;
}
.un-select {
  user-select: none;
}
.position-c-c {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

// 路由跳转导航条
// 自定义进度条颜色
#nprogress .bar {
  background: $loading-color2 !important; //自定义颜色
  height: 3px;
}
.dark #nprogress .bar {
  height: 3px;
  background: $loading-color-dark2 !important; //自定义颜色
}

//
.bg {
  position: absolute;
  transform: translate(50%, -50%);
  z-index: -99;
  width: 60%;
  height: 60%;
  opacity: 0.6;
  filter: blur(60px);
  border-radius: 50%;
  background: radial-gradient(
      104.24% 141.88% at 8.26% 9.64%,
      #b95be6 0%,
      rgba(185, 91, 230, 0.18) 69.92%,
      rgba(185, 91, 230, 0) 100%
    ),
    radial-gradient(
      103.57% 140.97% at 14.06% 105.21%,
      #f97c59 0%,
      rgba(249, 124, 89, 0.19) 72.45%,
      rgba(249, 124, 89, 0) 100%
    );
}

// 文本折叠
.text-overflow-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-overflow-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.text-overflow-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.text-overflow-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}


// element-plus
// 消息确认框
.el-message-box {
  .el-message-box__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em 1em;
    .el-button {
      width: auto;
      height: auto;
    }
  }
  .el-message-box__header {
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.1em;
  }


  .el-message-box__content {
    margin: 0.4em 1em;
  }
}

.el-radio-group {
  font-size: medium;
}

.el-button {
  transform: $transition-delay;
}


// 消息
.el-message {
  top: 1em !important;
}