* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
}
:root {
  --animate-duration: $transition-delay;
}
a {
  text-decoration: none;
  color: var(--el-text-color);
}

li {
  list-style: none;
}

span {
  line-height: 100%;
}

// 页面
.page {
  min-height: 100vh;
}

.dark,
.light {
  // will-change: transform,color,background-color,height;
  transition-property: background-clolor, box-shadow, color;
  transition: $transition-delay;
}

html.dark {
  background-color: #171717;
}

// 动画
.page-enter-active,
.page-leave-active {
  transition: all $transition-delay;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
  animation: cubic-bezier(0.1, 0.7, 1, 1);
}

// 滑动
.slideInOut-enter-active {
  animation: fadeInLeft $transition-delay $animate-cubic;
}
.slideInOut-leave-active {
  animation: fadeInLeft $transition-delay $animate-cubic reverse;
}

// 夜间模式切换动画
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 9999;
}

// 自定义类
.w-100per {
  width: 100%;
}

.h-100per {
  height: 100%;
}
