* {
  margin: 0;
  padding: 0;
  font-family: "Alimama", Helvetica, sans-serif;
  box-sizing: border-box;
}
:root {
  --animate-duration: $transition-delay;
}
a {
  text-decoration: none;
  color: var(--el-text-color);
}
a:active,
a:focus,
a:valid,
a:active {
  background-color: none;
}

li {
  list-style: none;
}

span {
  line-height: 100%;
}
// 字体
@font-face {
  font-display: auto;
  font-family: "Alimama";
  src:
    local("Alimama"),
    url(http://quang.kiwi2333.top/font/Alimama.woff2) format("woff2");
}

// 页面
html,
body {
  width: 100%;
  font-family: "Alimama", Helvetica, sans-serif;
  min-height: 100vh;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 15px; /*当前屏幕尺寸除以划分的等份:320/15*/
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 16px; /*当前屏幕尺寸除以划分的等份:720/15*/
  }
}
/* 屏幕分辨率放大为 150 */
// @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
//   .layout-default,
//   .layout-default-se {
//     transform: scale(0.665, 0.665) !important; /* 缩放数值需要根据效果调试 */
//     transform-origin: left top !important;
//   }
// }
/* 屏幕分辨率放大为 125 */
// @media (-webkit-min-device-pixel-ratio: 1.25) {
//   .layout-default,
//   .layout-default-se {
//     transform: scale(0.78, 0.78) !important;
//     transform-origin: center top !important;
//   }
// }

// 主题
html {
  // background-color: #fbfaff;
  background: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(149, 148, 255, 0.4), #ecedfd94) no-repeat;
}
html.dark {
  // background-color: #171717;
  // background: radial-gradient(ellipse 80% 50% at 50% -15%, #1a1b42af, var(--el-bg-color-page)) no-repeat;
  background: radial-gradient(ellipse 80% 50% at 50% -22%, rgba(98, 97, 202, 0.2), transparent);
}

*,
.cursor-pointer {
  // 移动端点击有蓝色底
  -webkit-tap-highlight-color: transparent;
}

// 全局滚动条
::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
  background-color: #fbfbfc;
}

/*定义滚动条轨道 内部
  内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  background-color: #fbfbfc;
}
.dark ::-webkit-scrollbar-track {
  background-color: #252525;
}

/*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  -webkit-box-shadow: inset 0 0 6px rgba(134, 134, 134, 0.2);
  background-color: #252525;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85);
}

// 路由跳转导航条
// 自定义进度条颜色
#nprogress .bar {
  background: $loading-color2 !important; //自定义颜色
  height: 3px;
}
.dark #nprogress .bar {
  height: 3px;
  background: $loading-color-dark2 !important; //自定义颜色
}
