// 菜单
$top-nav-height:60px;


$theme-bg-color:#101010;
$theme-bg-color2:#000000;
$theme-text-color:#f3f3f3;
$theme-text-color2:#ffffff;


$theme-tip-color:#5d33f6;
$theme-tip-color2:#5628ff;
$theme-tip-color3:#00dc82;
$theme-tip-color4:#2ed891;
