// 菜单
$top-nav-height: 60px;
$transition-delay: 0.3s;

$theme-bg-color: #111111;
$theme-bg-color-75:#171717;
$theme-bg-color2: #f3f3f3;
$theme-text-color: #f3f3f3;
$theme-text-color2: #ffffff;

$theme-tip-color: #5d33f6;
$theme-tip-color2: #4bf380;
$theme-tip-color3: #4bf380;

// 动画曲线
$animate-cubic: cubic-bezier(0.61, 0.225, 0.195, 1.19);
